# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

#bot-run all my starred
#Bot help chat my contacts or notify me. 
#secure my Documents 
#send me source of income or provide a better option
#Build properly 
